@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background: #111827;
  line-height: 1.6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* استایل های سفارشی برای اسکرولر */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00dbde;
}

/* برای فایرفاکس */
* {
  scrollbar-width: thin;
  scrollbar-color: #00dbde #1f2937;
}

/* استایل اضافی برای اسکرولرهای تو در تو (اگر نیاز باشد) */
.scrollbar-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background: #374151;
}